
.Ban {
    width: 100vw;
    height: 105vh;
    z-index: 2;
    margin-top: 66px;
    justify-content: center;
    display: flex;
    background-color:red;
    background-image: url("../Images/Background.png");
    background-size: cover;
    background-color: white;
}

.Ban table tr td {
    width: 340px;
    height: 0px;
    border: 2px solid white;
    margin-right: 20px;
    text-align: center;
    color: black;
    box-shadow:0px 0px 10px #000;
    background: #DDDDDD;
    justify-content:center;
    align-items:center;
    font-size: 27px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

    .Ban table tr td:hover {
        transform: scale(1.1);
        cursor:pointer;
        background-color: #BBBBBB;
    }

    .Ban table tr td a {
        color: #333;
        font-size:23px;
    }

.Ban table tr td a:hover {
    color:darkslategray;
    border-radius: 4px;
    transition: 0.2s;
}

.Ban table tr td a {
    text-decoration: none;
}

.Ban table {
    border-spacing: 60px;
}

/*.bann {
    width: 270px;
    height: 100px;
    border: 2px solid;
    color:black;
    margin-left: 20px;
    padding: 20px;
    background: linear-gradient(to right, #708090, #4682b4);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}*/
.TrangThai {
    border-radius:3.5px;
    height:20px;
    text-align:center;
    font-family:'Times New Roman';
    font-size:18px;
    width:150px;
}

.lbl{
    margin-left:10px;
}