/*html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}*/

.imgBackgroud {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.datban {
    width: 97.8vw;
    height: 100vh;
    z-index: 2;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 270px;
    border: 3px solid #8B0016;
    border-radius: 10px;
    background-color:darkcyan;
}

.khoangcach {
    padding: 15px;
}

#button {
    margin-left: 150px;
}

.tieude {
    margin-left: 30px;
    display: inline-block;
    width: 150px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
