/*html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}*/

.imgBackgroud {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.datban {
    width: 100vw;
    height: 90vh;
    z-index: 2;
    background-image: url("../Images/Background.png");
    background-size: cover;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 370px;
    border: 3px solid;
    border-radius: 10px;
    background-color: #DDDDDD;
}

.khoangcach {
    padding: 15px;
}

#button {
    margin-left: 150px;
}

.tieude {
    margin-left: 30px;
    display: inline-block;
    width: 150px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.btDatBan {
    height:25px;
    width:90px;
    border-radius:3px;
    border:none;
    font-size:19px;
}

.btDatBan:hover {
    background-color:aqua;
    cursor: pointer;
}
