
* {
    margin:0px 0 0 0px;
    padding:0;
}
.headerr {
    width: 100vw;
    height: 9vh;
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 2px solid;
    background-color: #222222 ;
    font-family: sans-serif;
    top: 0;
    z-index: 1;
    position: fixed;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

nav {
    width: 140%;
    padding: 8px 0;
}

nav .Logo a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

nav .menu {
    max-width: 1400px;
    margin: auto;
    margin-left:120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu {
    display:flex;
    justify-content:space-around;
    margin-left:30px;
}
.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    margin-left: 0px;
}

.menu ul li a {
    text-decoration: none;
    /*color: black;*/
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    transition: all 0.3s ease;
    position: relative;
    color: white; 
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.menu ul li .active a {
    background: yellow;
    color: white;
}

/*.menu ul li a:hover {
    background: yellow;
    color: #000;
}*/




    .menu ul li a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px; 
        bottom: 0;
        left: 0;
        background-color: #3498db;
        visibility: hidden;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .menu ul li a:hover {
        color: black;
        background: #a2c5d7;
    }

        .menu ul li a:hover::before {
            visibility: visible;
            transform: scaleX(1);
        }
    /*.menu ul li a::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px; 
        bottom: 0;
        left: 0;
        background-color: #3498db; 
        visibility: hidden;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

        .menu ul li a::after:hover {
            visibility: visible;
            transform: scaleX(1);
        }*/

        .center-textbox {
            color:white;
            text-align: center;
            font-weight: bold;
            margin-top: -2.5px;
            font-size: 20px;
            margin-left: 90px;
        }


/*CSS Footer*/

.footer {
    margin:0;
    width:100vw;
    background: #222222;
    padding: 15px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

    .footer .row {
        width: 100%;
        margin: 0% 0%;
        padding: 0.6% 0%;
        color: white;
        font-size: 0.8em;
    }

.footer .row a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.footer .row li a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
    }

@media (max-width:500px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}

/**/
.submenu {
    z-index: 2;
    display: none;
    position: absolute;
    /*box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);*/
    list-style: none; /* Ẩn các dấu đầu dòng của danh sách con */
    padding: 0; /* Xóa padding của danh sách con */
    width: 200px; /* Thiết lập chiều rộng của submenu */
}

.has-submenu:hover .submenu {
    display: block;
}

.submenu li {
    display: block;
    padding: 10px;
    text-align: left; /* Canh lề văn bản sang trái */
}

