.SettingMenu {
    margin: 0;
    z-index:2;
    padding: 0;
    width: 100vw;
    height: 85vh;
    background-image: url("../Images/Background.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.SettingMenu-1 {
    margin-top:60px;
    width: 500px;
    height: 310px;
    background-color: #f4f3f2;
    border: 2px solid;
    padding: 5px;
    color: black;
    border-radius: 5px;
}

.SettingMenu-1 table {
    text-align:center;
    display:flex;
    justify-content:center;
}
table{
    margin-top:13px;
}

table tr td {
    padding: 13px;
    font-size: 18px;
}

.btn {
    border-radius:4px;
    border: 1px solid black;
    width:50px;
    height:23px;
}

.btn:hover {
    cursor:pointer;
    background-color:#b0b0b0;
}

